@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255, 255, 255);
}

.menubar img {
    align-items: center;
    width: 90px;
    height: 80px;
    float: left;
    background-color: rgb(67, 182, 67);
}

.menubar {
    background: rgb(67, 182, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    position: sticky;

}

.menubar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menubar ul li {
    width: 200px;
    margin: 15px;
    padding: 15px;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.menubar ul li a:hover {
    padding: 10px;
    background-color: white;
    color: rgb(67, 182, 67);
}

.submenu1 {
    display: none;
}

.menubar ul li:hover .submenu1 {
    display: block;
    position: absolute;
    background-color: rgb(67, 182, 67);
    color: white;

}

.menubar ul li:hover .submenu1 ul {
    display: block;
    margin: 10px;
}

.menubar ul li:hover .submenu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dashed white;
    background: transparent;
    text-align: left;
}

.sign {
    float: right;
}

button {
    background: none;
    font-size: 18px;
    height: 50px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(67, 182, 67);
    /* box-shadow: 0 0 5px rgb(111, 196, 20), 0 0 25px rgb(129, 196, 20), 0 0 50px rgb(129, 196, 20), 0 0 200px rgb(117, 196, 20) ; */
}


.container{
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5) 0 4px 4px rgba(0,0,0,0.5);
    margin: auto;
    margin-top: 4vw;
    height: 70vh;
    /* overflow-y: scroll; */
}

.container h2{
    font-size: 28px;
    padding: 2vw;
    color: darkgreen;
}
.container p{
    /* padding: 0 2vw 2vw 2vw; */
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    width: 90%;
    text-align: justify;
}


 