@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    align-items: center;
    width: 90px;
    height: 80px;
    float: left;
    background-color: rgb(67, 182, 67);
}

.menubar {
    background: rgb(67, 182, 67);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.menubar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menubar ul li {
    width: 200px;
    margin: 15px;
    padding: 15px;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.menubar ul li a:hover {
    padding: 10px;
    background-color: white;
    color: rgb(67, 182, 67);
}

.submenu1 {
    display: none;
}

.menubar ul li:hover .submenu1 {
    display: block;
    position: absolute;
    background-color: rgb(67, 182, 67);
    color: white;

}

.menubar ul li:hover .submenu1 ul {
    display: block;
    margin: 10px;
}

.menubar ul li:hover .submenu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dashed white;
    background: transparent;
    text-align: left;
}

.sign {
    float: right;
}

.menubar button {
    
    background: none;
    font-size: 18px;
    height: 50px;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.menubar button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(67, 182, 67);
    /* box-shadow: 0 0 5px rgb(111, 196, 20), 0 0 25px rgb(129, 196, 20), 0 0 50px rgb(129, 196, 20), 0 0 200px rgb(117, 196, 20) ; */
}

.header{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  justify-content: space-around;
}
.header .search{
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  width: 700px;
}
.header .search input{
  
  width: 240%;
  height: 40px;
}
.header .search button{
  background-image: url('https://i.pinimg.com/originals/80/37/08/803708a2135c22ec40826c306b00e933.jpg');
  color: black;
  background-size: cover;
  width: 80px;
  height: 40px;
  border: none;
  background-color: white;
}

.columns {
    display: flex;
    flex-direction: row;
}
h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: #a6a6a6;
  }
  
  .buy--btn {
    padding: 1.1em 3.0em;
    margin: 17px;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #ff3f40;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
  }
  .buy--btn:hover{
    background-color: #ff3f40;
    color: white;
    box-shadow: 0 0 5px #ff3f40, 0 0 10px #ff3f40, 0 0 25px #ff3f40, 0 0 50px #ff3f40;
  }
  .buy--btn:active {
    transform: scale(0.97);
  }
  

#foot{
    height: 50px;
    background-color: rgb(157, 244, 215);
}

#foot h5{
    color: rgb(90, 3, 69);
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.card{
  display: inline-block;
  border: 2px solid rgb(135, 133, 133);
  border-radius: 10px;
  width: 21%;
  margin: 23px 23px;
  height: 370px;
  /* background-color: azure; */
  /* background: linear-gradient(rgb(26, 107, 236),rgb(235, 228, 31)); */
}
.card:hover{
  transform: scale(1.09);
  transition-duration: 0.1s;
}

.card-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-img{
  height: 125px;
  padding: 0 14px;
  margin: 5px 9px;
}

.card-img img{
  height:220px;
  
}


.card-content h1{
  padding-top: 88px;
  text-align: center;
  
}

.card-content h4{
  text-align: center;
  font-weight: bold;
}
